<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table height="660" width="700" border="0" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <td valign="top"><table width="700" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="265" height="204"><img src="http://www.nikecup.in/edm/images/Banner-1.jpg" width="265" height="204" alt="I BLEED BLUE, DO YOU?" /></td>
        <td width="237" height="204"><img src="http://www.nikecup.in/edm/images/banner-2.jpg" width="273" height="204" alt="Zaheer Khan " /></td>
        <td><img src="http://www.nikecup.in/edm/images/NikeCupLogo.jpg" width="162" height="204" alt="Nikecup logo" /></td>
      </tr>
    </table>
    <table height="200" width="700" border="0" cellpadding="0" cellspacing="0">
    <tbody>
  <tr>
    <td width="40">&nbsp;</td>
    <td width="620" valign="top"><table width="620" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:45px" >Hi {{team.captain_name}}</td>
      </tr>
      <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#1B75BB; font-weight:bold" >Thank you for registering for Nike Cricket.</td>
      </tr>
      <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:75px" >Your team's unique serial number is {{team.nregnum}}</td>
      </tr>
      <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px" ><p style=" font-weight:bold; color:#1B75BB">Please find attached, the balance registration form (in pdf format)  with all the data you entered. </p>
          <p>To complete your teams registration, please fill in rest of the form, attach a photograph, copy of photo ID and age proof of each team member, along with the payment &amp; drop it at select Nike Stores. </p>

          <p>Alternatively you can courier to </p>
          <p> Wiz Kashif  <br />
          Tel: +91 9873443958<br /><br />

          R-4 Ground Floor, Khirki Extension,<br />
          Malviya Nagar, Near Women's Polytechnic <br />
          New Delhi – 110017<br />
          
          or<br /><br />
          
          Wiz Ashok<br />
          Tel: +91 9664000325<br />

          Wizcraft International Entertainment Pvt. Ltd <br />
          5th Floor, Satyadev Plaza, Fun Republic Rd<br />
          Andheri (W), <br />
          Mumbai- 400053</p></td>
      </tr></tbody>
    </table>
    
    
    </td>
    <td valign="top">&nbsp;</td>
  </tr>
  </tbody>
</table>
<table width="700" border="0" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <td align="right" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; line-height:25px">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#808185" align="right" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; line-height:45px">© 2010 NIKE, INC. ALL RIGHTS RESERVED &nbsp; &nbsp;</td>
  </tr></tbody>
</table>


    
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>