#gameFormat{
	width:450px;
	margin-left:30px;
	margin-bottom:10px;
	margin-top:10px;
	display:inline;
}

#close{
	margin:20px;
}

#steps{
	width:849px;
	margin-left:40px;
	margin-bottom:20px;
}
#stepsContent{
	width:268px;
	margin-left:23px;
}
#stepsContent1{
	width:268px;
	margin-left:40px;
	margin-bottom:10px;
}

#stepsContent1 a{
	color:#06C;
}

#stepHeadding{
	width:268px;
	height:28px;
	background-image:url(../Images/step.jpg);
	background-repeat:no-repeat;
	line-height:28px;
	margin-bottom:10px;
}

#formDiv{
	width:849px;
	margin-left:40px;
}

#formDiv input[type="text"]{
	margin-left:10px;
	margin-right:30px;
	margin-bottom:5px;
	margin-top:5px;
	overflow:hidden;
}

#formDiv input [type="radio"]{
	/*margin-left:30px;*/
}

#guideAndRegulation{
	margin-left:40px;
	width:849px;
	margin-bottom:10px;
}

#downloadPDTBtn{
	margin-top:20px;
	margin-bottom:20px;
	margin-left:40px;
	width:410px;
	height:43px;
}

#city
{
	margin-left:100px;
	margin-top:8px;
}

#mainErrorMessage
{
	width:849px;
	height:inherit;
	background-color:#F00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	padding-top:5px;
	padding-bottom:5px;
}

#formHolderDiv{
	position:relative;
	width:849px;
	display:inline;
	overflow:hidden;
}

.errorlist li {
    background-color: red;
    color: white;
    display: block;
    /*font-size: 10px;*/
    margin: 0 0 3px;
    padding: 4px 5px;
}
